.flex {
    display: flex;
    justify-content: space-between;
}

.header {
    background-color: aqua;
    height: 50px;
}

.header-elem {
    float: right;
    margin-right: 20px;
    font-size: large;
    text-transform: uppercase;
}